!!!5
.container
  #push
  .pagination-centered
    %img{ src: "img/kuleshov.png", alt: "dafuq", class: "img-circle"}

  %br
  %h3.text-center
    I'm watching you... there's nothing more to see besides the
    %a{ href: "#{site_url}"} Home
    \.
