%hr
%p.text-center.muted
  &copy; All rights reserved to whatever my mood says.
  %br
  This site was created while
  %a{ href: "http://www.sinatrarb.com", target: "_blank" } Singing
  ,
  %a{ href: "http://www.haml.com", target: "_blank" } Eating
  and watching
  %a{ href: "http://www.bootstrap.com", target: "_blank" } TV Shows
  \.