!!!5
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ name: "description", content: "" }
    %meta{ name: "author", content: "" }

    / CSS
    %link{ rel: "stylesheet", href: "/css/bootstrap.min.css"}
    %link{ rel: "stylesheet", href: "/css/bootstrap-responsive.min.css"}
    %link{ rel: "stylesheet", href: "/css/style.css"}

    / JS
    %script{ rel: "javascript", src: "js/jquery-1.9.1.min.js"}
    %script{ rel: "javascript", src: "js/bootstrap.min.js"}
    %script{ rel: "javascript", src: "js/scripts.js"}

    / FB
    %meta{ property: "og:title", content: "Feña Agar" }
    %meta{ property: "og:description", content: "Fernando Agar presentation site." }
    %meta{ property: "og:site_name", content: "Feña Agar" }
    %meta{ property: "og:url", content: "http://fernandoagar.cl" }
    %meta{ property: "og:image", content: "#{site_url}img/simpson.png" }

    %title Feña Agar

  %body
    #wrap
      .fake-top
        .container
          = yield

      #push

    #footer
      .fake-bottom
        .container
          = haml :footer

  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-38572236-1']);
    _gaq.push(['_setDomainName', 'fernandoagar.cl']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

