.image.row
  .pagination-centered
    %img{ src: "img/simpson.png", height: "100", width: "100", :alt => "me", class: "img-circle img-polaroid" }

.info.row
  .name
    %h1.text-center Feña Agar

  .tagline
    %p.text-center.muted Coder, Devops & #{@rand_tagline}.

.social.row
  .ul.thumbnails
    %li.facebook
      %a{ href: "http://www.facebook.com/ferliagno"}
        %img{ src: "/img/facebook.png"}
    %li.twitter
      %a{ href: "http://www.twitter.com/elfenars"}
        %img{ src: "/img/twitter.png"}
    %li.linkedin
      %a{ href: "http://www.linkedin.com/in/ferliagno/en"}
        %img{ src: "/img/linkedin.png"}
    %li.skype
      %a{ href: "skype:ferliagno" }
        %img{ src: "/img/skype.png"}
    %li.gmail
      %a{ href: "mailto:fernando.agar@gmail.com" }
        %img{ src: "/img/gmail.png"}