.image.row
  .pagination-centered
    %img{ src: "img/squared.png", height: "100", width: "100", :alt => "me", class: "img-circle img-polaroid" }

.info.row
  .name
    %h1.text-center Feña Agar

  .tagline
    %p.text-center.muted Coder, Devops & #{@rand_tagline}.

.social.row
  .ul.thumbnails
    %li.github
      %a{ href: "https://github.com/elfenars", target: "blank" }
        %i{ class: "fa fa-github fa-2x"}
    %li.facebook
      %a{ href: "http://www.facebook.com/ferliagno", target: "blank" }
        %i{ class: "fa fa-facebook-official fa-2x"}
    %li.twitter
      %a{ href: "http://www.twitter.com/elfenars", target: "blank" }
        %i{ class: "fa fa-twitter fa-2x"}
    %li.linkedin
      %a{ href: "http://www.linkedin.com/in/ferliagno/en", target: "blank" }
        %i{ class: "fa fa-linkedin fa-2x"}
    %li.skype
      %a{ href: "skype:ferliagno" }
        %i{ class: "fa fa-skype fa-2x"}
    %li.wordpress
      %a{ href: "http://www.elfenars.cl/blog", target: "blank" }
        %i{ class: "fa fa-wordpress fa-2x"}
    %li.gmail
      %a{ href: "mailto:fernando.agar@gmail.com" }
        %i{ class: "fa fa-envelope fa-2x"}