%h3 ...and that I've worked here...

.well.well-mini
  .first.row
    .span5
      %h4.work-name
        %a{ href: "http://ww.tweek.tv", class: "anchor"} Tweek
        %i.tagline.muted - Best way to discover new content.
      %h6.work-time.muted Oct 2014 - Today | Berlin, Germany
      %h6.work-description Lead Developer & Architect

      %h4.work-name
        %a{ href: "http://retorico.cl"} Retórico
        %i.tagline.muted - Custom development & design.
      %h6.work-time.muted Apr 2013 - Today | Anywhere in the world
      %h6.work-description Founder, doorman, cleaning guy & hacker

      %h4.work-name
        %a{ href: "http://shippter.com", class: "anchor"} Shippter
        %i.tagline.muted - You buy it, we ship it.
      %h6.work-time.muted Mar 2014 - Aug 2014 | Santiago, Chile
      %h6.work-description Founder & Hacker

      %h4.work-name
        %a{ href: "http://preyproject.com"} Prey
        %i.tagline.muted - Anti-theft software.
      %h6.work-time.muted Jun 2013 - Feb 2014 | Santiago, Chile
      %h6.work-description Senior Ruby Developer

      %h4.work-name
        %a{ href: "http://www.qaribu.com"} Qaribu
        %i.tagline.muted - A new way to travel the world.
      %h6.work-time.muted Feb 2013 - Mar 2013 | Viña del Mar, Chile
      %h6.work-description Web Developer (PHP)

      %h4.work-name
        %a{ href: "http://www.cumplo.cl"} Cumplo
        %i.tagline.muted - Peer-to-peer lending.
      %h6.work-time.muted May 2012 - Jan 2013 | Santiago, Chile
      %h6.work-description Web Developer (Ruby on Rails)

      %h4.work-name
        %a{ href: "http://www.groupon.cl"} Groupon LatAm
        %i.tagline.muted - Great discounts.
      %h6.work-time.muted Oct 2010 - Apr 2012 | Santiago, Chile
      %h6.work-description Dev Analyst & SysAdmin
