%h3 ...and that I've worked here...

.well.well-mini
  .first.row
    .span5
      %h4.work-name
        %a{ href: "http://shippter.com", class: "anchor"} Shippter
        %i.tagline.muted - You buy it, we ship it.
      %h6.work-time.muted Mar 2014 - Today
      %h6.work-description Founder & Hacker

      %h4.work-name
        %a{ href: "http://preyproject.com"} Prey
        %i.tagline.muted - Anti-theft software.
      %h6.work-time.muted Jun 2013 - Feb 2014
      %h6.work-description Ruby Senior Developer

      %h4.work-name
        %a{ href: "http://retorico.cl"} Retórico
        %i.tagline.muted - Custom development & design.
      %h6.work-time.muted Apr 2013 - Today
      %h6.work-description Founder & Wordpress Dev

      %h4.work-name
        %a{ href: "http://www.qaribu.com"} Qaribu
        %i.tagline.muted - A new way to travel the world.
      %h6.work-time.muted Feb 2013 - Mar 2013
      %h6.work-description Web Developer (PHP)

      %h4.work-name
        %a{ href: "http://www.cumplo.cl"} Cumplo
        %i.tagline.muted - Peer-to-peer lending.
      %h6.work-time.muted May 2012 - Jan 2013
      %h6.work-description Web Developer (Ruby on Rails)

      %h4.work-name
        %a{ href: "http://www.groupon.cl"} Groupon LatAm
        %i.tagline.muted - Great discounts.
      %h6.work-time.muted Oct 2010 - Apr 2012
      %h6.work-description Dev Analyst & SysAdmin
