%h3 ...and that I've worked here...

.well.well-mini
  .first.row
    .span5
      %h4.work-name
        %a{ href: "http://retorico.cl"} Retórico
      %h6.work-time.muted Apr 2013 - Today
      %h6.work-description Co-Founder

      %h4.work-name
        %a{ href: "http://www.qaribu.com"} Qaribu
      %h6.work-time.muted Feb 2013 - Mar 2013
      %h6.work-description Web Developer (PHP)

      %h4.work-name
        %a{ href: "http://www.cumplo.cl"} Cumplo
      %h6.work-time.muted May 2012 - Jan 2013
      %h6.work-description Web Developer (Ruby on Rails)

      %h4.work-name
        %a{ href: "http://www.groupon.cl"} Groupon LatAm
      %h6.work-time.muted Oct 2010 - Apr 2012
      %h6.work-description Dev Analyst & SysAdmin
