%h3.text-right ...and see some of the sites i've done.
%h6.text-right (besides this one)

.row.thumbs
  .span6
    .ul.thumbnails
      %li.abastc
        %a{ href: "http://www.abastc.cl", target: "_blank" }
          %img{ src: "img/500x400.gif", class: "img-polaroid", alt: "AbasTC" }


  .span6
    .ul.thumbnails
      %li.santafe
        %a{ href: "http://www.gruposantafe.cl", target: "_blank" }
          %img{ src: "img/500x400.gif", class: "img-polaroid", alt: "Inmobiliaria Santafe" }