%h3 You'd probably want to know i know this...

.well.well-mini
  .first.row
    .langs.span3
      %h5 Code Stuff:

      %p Git & Github
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Ruby (As it comes, Sinatra & Rails)
      .progress.progress-success
        .bar{ style: "width: 90%;" }

      %p jQuery
      .progress.progress-info
        .bar{ style: "width: 80%;" }

      %p JavaScript
      .progress.progress-warning
        .bar{ style: "width: 67%;" }

      %p PHP (As it comes, CakePHP)
      .progress.progress-warning
        .bar{ style: "width: 60%;" }

      %br/

    .servers.span3
      %h5 Systems & Servers Stuff:

      %p Linux (Debian, Ubuntu, CentOS, RedHat)
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Nginx
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Cisco CCNA (I - IV)
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Apache
      .progress.progress-info
        .bar{ style: "width: 87%;" }

      %p MySQL
      .progress.progress-info
        .bar{ style: "width: 87%;" }

