%h3 You'd probably want to know i know this...
.first.row
  .langs.span3
    %h5 Code Stuff:
    %ul
      %li Git & Github
      %li
        Ruby
        %ul
          %li Pure as it comes
          %li on Rails
          %li Sinatra
      %li
        PHP
        %ul
          %li CakePHP
      %li jQuery
      %li Javascript


  .servers.span3
    %h5 Systems & Servers Stuff:
    %ul
      %li
        Linux
        %ul
          %li Debian
          %li Centos
          %li Ubuntu
          %li RedHat
      %li Nginx
      %li Apache
      %li MySQL
      %li Cisco CCNA (I - IV)