%h3 You'd probably want to know I know this...

.well.well-mini
  .first.row
    .langs.span3
      %h5 Code Stuff:

      %p Ruby (Pure Ruby, Rails, Sinatra, Lotus, Padrino, etc...)
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p API Development
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Git & Github
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p HTML5
      .progress.progress-success
        .bar{ style: "width: 90%;" }

      %p CSS3
      .progress.progress-success
        .bar{ style: "width: 90%;" }

      %p jQuery
      .progress.progress-info
        .bar{ style: "width: 70%;" }

      %p JavaScript
      .progress.progress-info
        .bar{ style: "width: 60%;" }

      %p PHP (Wordpress and CakePHP)
      .progress.progress-info
        .bar{ style: "width: 60%;" }

      %br/

    .servers.span3
      %h5 Systems & Servers Stuff:

      %p AWS (EC2, S3, RDS and others)
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Linux
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Networking (CCNA I - IV)
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Apache & Nginx
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Redis
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p PostgreSQL
      .progress.progress-success
        .bar{ style: "width: 95%;" }

      %p MySQL
      .progress.progress-info
        .bar{ style: "width: 90%;" }

      %p MongoDB
      .progress.progress-info
        .bar{ style: "width: 85%;" }

      %p Elasticsearch
      .progress.progress-info
        .bar{ style: "width: 80%;" }

      %p Recommendation Engines (PredictionIO and Mahout)
      .progress.progress-info
        .bar{ style: "width: 80%;" }

      %p IT Automation (Chef and Ansible)
      .progress.progress-info
        .bar{ style: "width: 70%;" }







