%h3 You'd probably want to know I know this...

.well.well-mini
  .first.row
    .langs.span3
      %h5 Code Stuff:

      %p Ruby (Pure Ruby, Sinatra & Rails)
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p APIs
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Git & Github
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p HTML5
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p CSS3
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Recommendation Engines
      .progress.progress-info
        .bar{ style: "width: 90%;" }

      %p jQuery
      .progress.progress-info
        .bar{ style: "width: 85%;" }

      %p JavaScript
      .progress.progress-info
        .bar{ style: "width: 80%;" }

      %br/

    .servers.span3
      %h5 Systems & Servers Stuff:

      %p AWS Administration
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Linux (Debian, Ubuntu, CentOS, RedHat)
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Networking (CCNA I - IV)
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Nginx
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p Redis
      .progress.progress-success
        .bar{ style: "width: 100%;" }

      %p MySQL
      .progress.progress-info
        .bar{ style: "width: 90%;" }

      %p PostgreSQL
      .progress.progress-info
        .bar{ style: "width: 90%;" }

      %p MongoDB
      .progress.progress-info
        .bar{ style: "width: 90%;" }







